
#characters .character {
    width: auto;
}

#characters .character .character_card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    cursor: pointer;
}

#characters .character_realname {
    color: white;
}

#characters {
    display: grid;
    gap: 10px;
    grid-auto-rows: auto;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
}

@media screen and (min-width: 700px) {
    #characters {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    #characters {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1300px) {
    #characters {
        grid-template-columns: repeat(4, 1fr);
    }
}





